@import "@fontsource/inter";
@import "@fontsource/poppins";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: theme("colors.primary");
    color: theme("colors.secondary");
    font-family: theme("fontFamily.inter");
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: theme("fontFamily.poppins");
  }

  .custom-link {
    font-size: 18px;
    line-height: 28px;
  }
}

:root {
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}
