<section id="about" class="bg-secondary text-primary">
  <div class="mx-auto max-w-6xl w-full py-40 px-5 md:px-0">
    <h2 class="font-poppins font-bold text-5xl md:text-6xl relative max-w-fit">
      About me<span class="text-accent">.</span>
    </h2>

    <div class="max-w-xl font-medium">
      <p class="font-poppins font-medium text-lg sm:text-xl mt-10">
        Hey, I'm Egor! A frontend engineer based in Canada, currently working at a startup building
        a privacy-focused social network. Originally from Russia, I moved here over four years ago
        and have been deeply immersed in software engineering ever since. I have a strong focus on
        web and mobile development, leveraging React, React Native, and modern frontend
        technologies. Beyond work, I’m fascinated by space exploration, aviation, and hypercars -
        anything that pushes the limits of speed and innovation. Let’s build something fast,
        scalable, and awesome together!
      </p>
    </div>
  </div>
</section>
