<section class="mx-auto max-w-6xl w-full pb-32 px-5 md:px-0 flex items-end justify-between">
    <div class="max-w-xl">
        <h1 class="font-poppins font-bold text-5xl md:text-6xl relative max-w-fit">
            About me<span class="text-accent">.</span>
        </h1>

        <div class="max-w-xl font-medium">
            <p class="mt-10">
                Hey, I'm Egor! Hopefully a web developer one day, and a student in Kelowna, BC. I moved here
                almost 4 years ago from Russia, and I've been studying computer science ever since. Now it's
                my final year here, and I'm getting into web and mobile development with React and React Native.
            </p>

            <p class="mt-4">
                I cannot say that I have been passionate about computers and programming since I was a kid. Even though
                I was interested in modern technology, video games, and the IT industry in general - I've always thought
                I was dumb for coding, math, and STEM overall. When it was time to pick a major in university, 
                CS was at the end of the list of things I didn't want to do in my life. But here am I now, making my 
                 first website.
            </p>

            <p class="mt-4">
                Aside from school, I'm still into video games, mostly movement shooters like Apex Legends, Doom Eternal,
                Titanfall 2, and such. Also, I keep an eye on space and aviation news, and very excited about Starship flights
                and Artemis missions. Maybe I'll become a <s>(at least a private)</s> pilot one day, but again, I still think I'm too dumb for all the math
                and physics. But who knows?
            </p>
        </div>
    </div>
</section>