---
import { Link } from "../Link.tsx";
import { ArrowRight } from "../icons/arr-right.tsx";
---

<section class="min-h-[calc(100vh-60px)] flex flex-col justify-between gap-y-20 overflow-x-hidden pb-32 md:pb-0">
    <div class="px-5 md:px-0 mt-12 flex flex-col md:flex-row w-full max-w-6xl mx-auto min-h-[70vh] tall:min-h-[50vh] md:items-center gap-5 md:justify-between">
        <h1 class="text-[clamp(2.5rem,10vw,5rem)] font-bold leading-tight w-full md:min-w-[530px]">
            From Russia <br /> with love ❤️
        </h1>
        <div class="mt-5 md:mt-0 text-base sm:text-lg md:text-xl max-w-lg w-fit font-medium font-inter text-gray-light">
            <p>
                Trying to be a software developer and live this life somehow. Also, I can help with your great app idea,
                I don't think it can get any worse.
                <br /> <br />
                Actively learning Web and Mobile Development with React Native, Next.js, and Astro. Maybe it will
                get me a job, maybe it won't, the warehouse is always open anyway.
            </p>

            <div class="flex items-center gap-3 mt-7 w-full">
                <Link
                    href="/about"
                    intent="primary"
                    size="default"
                    extras="icon"
                >
                    About me
                    <ArrowRight className="ml-1.5" width={20} height={20} />
                </Link>

                <Link
                    href="/projects"
                    intent="secondary"
                >
                    Projects
                </Link>
            </div>
        </div>
    </div>
</section>