---
import React from 'react';
const skills = [
    {
        header: "Frontend",
        list: "JavaScript\nTypeScript\nReact\nReact Native\nHTML, CSS\nChart.js"
    },
    {
        header: "Backend",
        list: "Python\nDjango\nPostgreSQL\nFirebase\nREST APIs"
    },
    {
        header: "Other",
        list: "Git & GitHub\nDocker\nFigma\nAgile\nTDD"
    }
];
---

<section class="bg-secondary text-primary">
    <div class="mx-auto max-w-6xl w-full py-40 px-5 md:px-0">
        <h2 class="font-poppins font-bold text-5xl md:text-6xl relative max-w-fit">
            My skills<span class="text-accent">.</span>
        </h2>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-10 mt-32 w-full">
            {skills.map((item, idx) => {
                const allSkills = item.list.split("\n").filter(Boolean);

                return (
                    <React.Fragment>
                        <h3
                            class="font-poppins text-4xl sm:text-5xl md:text-6xl font-bold lowercase md:h-40"
                        >
                            <span class="inline-block w-[50px] sm:w-[73px] text-start">0{idx + 1}</span> —{" "}
                            {item.header}
                        </h3>

                        <ul class="grid grid-cols-1 sm:grid-cols-2 gap-x-10 gap-y-2 max-w-md">
                            {allSkills.map((skill) => {
                                return (
                                    <li class="font-poppins font-medium text-lg sm:text-xl">
                                        {skill}
                                    </li>
                                );
                            })}
                        </ul>
                    </React.Fragment>
                );
            })}
        </div>
    </div>
</section>