---
import Social from "./Social.astro";
---

<footer>
    <div class="signature">
        <p>Created by Egor</p>
        <p>Built with Astro</p>
    </div>

    <div class="links">
        <Social platform="twitter" username="roge_one_" />
        <Social platform="github" username="rogeonee" />
        <Social platform="linkedin" username="/in/egor-bezriadin/" />
    </div>
</footer>