---
import { ViewTransitions } from "astro:transitions";
import { Header } from "./Header.tsx";
import Footer from "./Footer.astro";
import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <ViewTransitions />
  </head>

  <body>
    <Header client:only="react" transition:persist />
    <slot />
    <Footer />
  </body>
</html>
