---
import { ViewTransitions } from "astro:transitions";
import { Header } from "./Header.tsx";
import Footer from "./Footer.astro";
import "../styles/global.css";
import { SEO } from "astro-seo";

const title = "Egor Bezriadin - Software Developer";
const description =
  "An aspiring web and mobile developer proficient in React.js, React Native, TypeScript, JavaScript, and other frontend-focused tools and frameworks.";
const keywords = [
  "egor bezriadin",
  "rogeonee",
  "roge_one_",
  "canada",
  "web developer",
  "mobile developer",
  "konvert",
].join(", ");
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <SEO
      title={title}
      description={description}
      canonical="https://www.rogeonee.com/"
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image: "https://www.rogeonee.com/og-image.png",
          url: "https://www.rogeonee.com/",
        },
        optional: {
          description: description,
          locale: "en-US",
          siteName: "rogeonee",
        },
      }}
      ,
      twitter={{
        card: "summary_large_image",
        creator: "@roge_one_",
        title: title,
        description: description,
        image: "https://www.rogeonee.com/og-image.png",
      }}
      ,
      extend={{
        meta: [
          {
            name: "keywords",
            content: keywords,
          },
        ],
      }}
    />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5S5P7SKF8E"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-5S5P7SKF8E");
    </script>
  </head>

  <body>
    <Header client:only="react" transition:persist />
    <slot />
    <Footer />
  </body>
</html>
